disruptive-technologies/aula-4_2.json
[
  {
      "id": "f2ff40863b6ad17d",
      "type": "telegram receiver",
      "z": "3c37de43934f588c",
      "name": "Receber mensagem Telegram",
      "bot": "470f081aa78d9034",
      "saveDataDir": "",
      "filterCommands": false,
      "x": 120,
      "y": 180,
      "wires": [
          [
              "e0cf057514ab5d49"
          ],
          []
      ]
  },
  {
      "id": "e0cf057514ab5d49",
      "type": "change",
      "z": "3c37de43934f588c",
      "name": "Consultar histórico/salvar payload original",
      "rules": [
          {
              "t": "move",
              "p": "payload",
              "pt": "msg",
              "to": "telegram",
              "tot": "msg"
          },
          {
              "t": "move",
              "p": "telegram.content",
              "pt": "msg",
              "to": "payload",
              "tot": "msg"
          },
          {
              "t": "move",
              "p": "history",
              "pt": "flow",
              "to": "history",
              "tot": "msg"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 440,
      "y": 180,
      "wires": [
          [
              "b87ffe8fbec801b0"
          ]
      ]
  },
  {
      "id": "8a15646fafe790e8",
      "type": "chatgpt",
      "z": "3c37de43934f588c",
      "name": "Chat GPT 4o",
      "topic": "gpt4o",
      "BaseUrl": "https://api.openai.com",
      "x": 690,
      "y": 240,
      "wires": [
          [
              "6a3a83cb93e333b1"
          ]
      ]
  },
  {
      "id": "6a3a83cb93e333b1",
      "type": "change",
      "z": "3c37de43934f588c",
      "name": "Montar resposta do Telegram/salvar histórico",
      "rules": [
          {
              "t": "move",
              "p": "payload",
              "pt": "msg",
              "to": "telegram.content",
              "tot": "msg"
          },
          {
              "t": "move",
              "p": "telegram",
              "pt": "msg",
              "to": "payload",
              "tot": "msg"
          },
          {
              "t": "move",
              "p": "history",
              "pt": "msg",
              "to": "history",
              "tot": "flow"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 1290,
      "y": 180,
      "wires": [
          [
              "1bf76fab627d2bd9"
          ]
      ]
  },
  {
      "id": "c52b327397d0d264",
      "type": "function",
      "z": "3c37de43934f588c",
      "name": "Montar JSON payload",
      "func": "msg.payload = {\n    latitude: -23.55,\n    longitude: -46.63\n};\n\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 720,
      "y": 180,
      "wires": [
          [
              "64108b5abc2b6c20"
          ]
      ]
  },
  {
      "id": "64108b5abc2b6c20",
      "type": "http request",
      "z": "3c37de43934f588c",
      "name": "GET open-meteo",
      "method": "GET",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "https://api.open-meteo.com/v1/forecast?latitude={{payload.latitude}}&longitude={{payload.longitude}}&current_weather=true",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [],
      "x": 870,
      "y": 180,
      "wires": [
          [
              "60f3c2ff28bdb6b0"
          ]
      ]
  },
  {
      "id": "60f3c2ff28bdb6b0",
      "type": "function",
      "z": "3c37de43934f588c",
      "name": "Parsear JSON",
      "func": "const weather = msg.payload.current_weather;\n\nmsg.payload = `🌤️ Previsão do tempo atual:\nTemperatura: ${weather.temperature}°C\nVelocidade do vento: ${weather.windspeed} km/h\nCondição: ${weather.weathercode}`;\n\nreturn msg;\n",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 1040,
      "y": 180,
      "wires": [
          [
              "6a3a83cb93e333b1"
          ]
      ]
  },
  {
      "id": "b87ffe8fbec801b0",
      "type": "switch",
      "z": "3c37de43934f588c",
      "name": "Switch mensagem usuário",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
          {
              "t": "eq",
              "v": "/tempo",
              "vt": "str"
          },
          {
              "t": "else"
          }
      ],
      "checkall": "false",
      "repair": false,
      "outputs": 2,
      "x": 600,
      "y": 180,
      "wires": [
          [
              "c52b327397d0d264"
          ],
          [
              "8a15646fafe790e8"
          ]
      ]
  },
  {
      "id": "470f081aa78d9034",
      "type": "telegram bot",
      "botname": "Dalme 2.0",
      "usernames": "",
      "chatids": "",
      "baseapiurl": "",
      "testenvironment": false,
      "updatemode": "polling",
      "pollinterval": 300,
      "usesocks": false,
      "sockshost": "",
      "socksprotocol": "socks5",
      "socksport": 6667,
      "socksusername": "anonymous",
      "sockspassword": "",
      "bothost": "",
      "botpath": "",
      "localbothost": "0.0.0.0",
      "localbotport": 8443,
      "publicbotport": 8443,
      "privatekey": "",
      "certificate": "",
      "useselfsignedcertificate": false,
      "sslterminated": false,
      "verboselogging": false
  }
]